<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </console>
    </Appenders>

    <loggers>
        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="org.zerock" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <root level="info" addtivity="false">
            <appender-ref ref="console" />
        </root>
    </loggers>
</Configuration>
